.spin-button-none::-webkit-outer-spin-button,
.spin-button-none::-webkit-inner-spin-button {
	appearance: none;
}
.spin-button-none[type="number"] {
	-moz-appearance: textfield;
}

/* width */
.custom-scroll-bar::-webkit-scrollbar {
	width: 2px;
	height: 2px;
}

/* Track */
.custom-scroll-bar::-webkit-scrollbar-track {
	background: #222222;
}

/* Handle */
.custom-scroll-bar::-webkit-scrollbar-thumb {
	background: rgb(224, 201, 251);
}

/* Handle on hover */
.custom-scroll-bar::-webkit-scrollbar-thumb:hover {
	background: rgb(143, 190, 245);
}

.bounce2 {
	animation: bounce2 2s ease;
}
@keyframes bounce2 {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-10px);
	}
	60% {
		transform: translateY(-5px);
	}
}

.animate-scale {
	transform-origin: 0% 0%;
	animation: scale 0.2s;
}

.animate-scale-reverse {
	transform-origin: 0% 0%;
	animation: scale 0.2s reverse forwards;
}

.slide-in-from-right {
	animation: slideInFromRight 0.5s ease-in;
}

.slide-out-to-left {
	animation: slideOutToLeft 0.5s ease-in;
}

.slide-out-to-right {
	animation: slideOutToRight 0.5s ease-in;
}

.slide-in-from-left {
	animation: slideInFromLeft 0.5s ease-in;
}

@keyframes slideInFromRight {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0%);
	}
}

@keyframes slideInFromLeft {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0%);
	}
}

@keyframes slideOutToLeft {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(-100%);
	}
}

@keyframes slideOutToRight {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(100%);
	}
}

@keyframes scale {
	0% {
		transform: scaleY(0);
	}
	100% {
		transform: scaleY(1);
	}
}

@tailwind base;
@tailwind components;
@tailwind utilities;
